:root {
    --text-color:#f0f4f5;
    --accent-color:#072e2c;
}

body {
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;
}

img {
    display: block;
    width: 100%;
}

body > section {
    padding: 0 32px;
}

.main {
    background-image: url(../img/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

footer {
    padding: 0 32px;
    background-color:#072e2c;
}

.web-header {
    height: 100px;
    width:100%;
    padding: 0 32px;
        
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: absolute;

    border-bottom: 0.1px solid rgb(255,255,255,0.5);
    box-sizing: border-box;
}

.web-header a {
    color: var(--text-color);
}

.web-header > a {
    color: var(--text-color);
    padding: 16px 25px;

}

.web-header a:hover {
    color: gray;
}

nav > ul {
    font-size: 16px;
    display: flex;
}

nav li {
    padding: 16px 14px;
}

nav li:last-child {
    padding: 16px 25px;
}

a {
    text-decoration: none;
}

.mobile-header {
    display: none;
}

.mobile-header-menubar {
    display: none;
}

.main-container {
    height: 100vh;
    margin: 0 auto;
    padding-top: 100px;

    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 15px;
}

.main-container-explain {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.main-box {
    border-top: 5px solid var(--text-color);
    border-left: 1px solid var(--text-color);

    display: flex;
    flex-direction: column;
    gap: 60px;

    padding: 60px;
    box-sizing: border-box;
}

h1 {
    font-size: 56px;
    color: var(--text-color);
}

.main-box > p {
    font-size: 20px;
    color: white;
}

.main-sub-explain {
    color: var(--text-color);
    font-size: 20px;
    display: flex;
    flex-direction: row-reverse;
    text-align: end;
}

.main-sub-explain > p {
    text-align: right;
}

.main-img-wrapper {
    padding: 5px;
    border: 3px solid var(--text-color);
    box-sizing: border-box;
    width: 350px;
}

.main-img > img {
    object-fit: contain;
}

.about {
    background-color: #f2f4ef;
    padding: 50px 32px; 
}



.section-title {
    display: flex;
    flex-direction: column;

    align-items: center;
    color: #003331;
}

h2 {
    font-size: 38px;
    color: #003331;
}

.sub-title {
    font-size: 16px;
    color: #609f1c;
}

.brand-explain {
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.brand-explain-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.brand-explain-content figure{
    width: 100%;
}

.brand-detail-explain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-left: 15px;
}

.brand-detail-explain::before {
    content: '';
    height: 350px;
    width: 2px;
    background-color: var(--accent-color);
    position: absolute;
    top: 0;
    left: -2%;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    color: #222;
}

.brand-summary {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 60px 0;
    gap: 20px;

}

.brand-summary p:first-child {
    font-size: 16px;
    line-height: 25px;
    color: #222;
}

.brand-summary p:last-child {
    font-size: 18px;
    color:#222;
}

#our-best-seller {
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

    /* flex: 1 1 0;
    
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    flex-basis 값을 0 으로 설정하여 기본 넓이를 없게하면 동일한 크기 자식요소를 만들 수 있다. */

.best-seller button {
    background-color: white;
    border: none;
    cursor: pointer;
}

.best-seller-furniture-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.best-seller-furniture {
    display: flex;
    align-items: center;

}

.best-seller-furniture:hover {
    box-shadow: 3px 3px 5px #d0cfcf;
    transition: 0.3s;
}  

h6 {
    font-size: 16px;
    color: #222;
    text-align: center;
}

.best-seller-furniture-name p {
    font-size: 12px;
    color: #222;
}


#showroom {
    padding: 100px 32px;
    position: relative;
}

#showroom::before {
    content: '';
    width: 500px;
    aspect-ratio: 1;
    position: absolute;
    top: 0;
    left: -3%;
    z-index: -1;
    background-image: url(../img/showroom\ 나뭇잎.png);
    background-size: contain;
    transform: rotate(80deg);
}

#showroom::after {
    content: '';
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: -3%;
    right: 2%;
    z-index: -1;
    background-image: url(../img/showroom\ 나뭇잎.png);
    background-size: contain;
    transform: rotate(200deg);
}

.showroom-introduce {
    max-width:1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 100px;
}

.explain-showroom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.explain-showroom figure {
    width: 50%;
}

.showroom-address {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.bamgasi {
    text-align: end;
}

.showroom-bamgasi-inform {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 45px;
    height: 450px;
    position: relative;
}

.showroom-bamgasi-inform::before {
    content: '';
    width: 80px;
    height: 3px;
    background: var(--accent-color);
    display: block;
    position: absolute;
    top: 1px;
    left: 90%;
}

.showroom-bamgasi-inform::after {
    content: '';
    width: 300px;
    height: 1px;
    background: var(--accent-color);
    display: block;
    position: absolute;
    left: 50%;
    transform: rotate(270deg);
    top: 34%;
    margin-left: 50px;
}

.showroom-address p {
    color: #222;
    font-size: 16px;
}

h4 {
    font-size: 24px;
    font-weight: bold;
    color: #222;
}

.showroom-garage-inform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;

    gap: 45px;
    position: relative;
}

.showroom-garage-inform::before {
    content: '';
    width: 81px;
    height: 3px;
    background: var(--accent-color);
    display: block;
    position: absolute;
    top: 0;
    right: 92%;
}

.showroom-garage-inform::after {
    content: '';
    width: 300px;
    height: 1px;
    background: var(--accent-color);
    display: block;
    position: absolute;
    right: 50%;
    transform: rotate(270deg);
    top: 34%;
    margin-right: 50px;
}

.more-view button {
    background-color:var(--text-color);
    background-color: white;
    color: #333;

    font-size: 14px;
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;
    
    border-radius: 3px;
    border-color: white;
    border-width: 0.5px;
}

.more-view button:hover {
    border-color:#979696;
    border-width: 0.5px;
    transition: 0.3s;

}

button > a {
    width: 160px;
    height: 40px;
    display: block;
    line-height: 40px;

}

#with-furniture {
    background-color: #edf1e9;
    background-image: url(../img/with-furniture-꽃.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.with-furniture-container {
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.with-furniture-content {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
    flex-wrap: wrap;
}

.with-furniture-content li {
    background-color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;

}

.with-furniture-icons img {
    width: 50px;
    aspect-ratio: 1;
}

.with-furniture-icons a {
    width: 225px;
    aspect-ratio: 5/4;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #555;
    
}

.with-furniture-icons a:hover {
    background-color: rgb(245, 246, 245);
    transition: 0.5s;
}

.with-furniture-icons h5 {
    color: #555;
}

.with-furniture-icons p:last-child {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

#footer {
    padding: 50px 32px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.footer-main {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

.footer-logo {
    width: 120px;
    height: 100%;
    display: block;
}

.footer-id-container {
    display: flex;
    flex-direction: column;

    gap: 10px;

}

.footer-id-container div {
    display: flex;

}

.footer-id-inform {
    font-weight: bold;
    font-size: 14px;
    color: var(--text-color);
}

.footer-id-container div p:last-child {
    font-size: 12px;
    color: var(--text-color);
    font-weight: 400;
    line-height: 16px;

}

.footer-customer-center {
    display: flex;
    flex-direction: column;

    gap: 10px;

}
.footer-customer-center p {
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.footer-customer-center p:first-child {
    font-size: 14px;
    font-weight: 700;

}

.footer-customer-center p:nth-child(2n){
    font-size: 16px;
}

.search {
    display: flex;
    gap: 10px;
}

.customer-center-search {
    border: 1px solid var(--text-color);
    border-radius: 50px;
    height: 20px;
    width: 120px;
}

.footer-icons {
    width: 24px;
}

.footer-bottom {
    display: flex;
    gap: 30px;
    margin-top: 25px;
}

.footer-bottom a {
    color: var(--text-color);
    font-weight: 400;

    font-size: 12px;
}


