body {
    /* font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; */

    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;
      
}

img {
    display: block;
    width: 100%;
}

body > section {
    padding: 0 32px;

}

header {
    padding: 0 32px;

    display: flex;
    justify-content: center;

}

.main {
    /* padding: 100px 32px; */

    background-image: url(../img/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

footer {
    padding: 0 32px;
}

.web-header {
    height: 100px;
    width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;

    border-bottom: 0.1px solid rgb(255,255,255,0.5);
}

.web-header a {
    color: white;
}

nav > ul {

    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.header-logo {
    font-size: 24px;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
}

.main-container {
    height: 100vh;
    margin: 0 auto;
    padding: 100px 0 0 0;

    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.main-container-explain {
    display: flex;
    flex-direction: column;
    gap: 150px;

}

.main-box {
    
    border-top: 5px solid white;
    border-left: 1px solid white;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 60px;
    box-sizing: border-box;
    
}

h1 {
    color: white;
}

.main-box > p {
    font-size: 20px;
    color: white;
}

.main-sub-explain {
    color: white;
    font-size: 20px;

    display: flex;
    flex-direction: column-reverse;
}

.main-sub-explain > p {
    text-align: right;
}

.main-img {
    width: 380px;
    
}
/* 맞는지 */

.main-img > img {
    object-fit: contain;
}

.main-img-wrapper {
    padding: 5px;
    border: 3px solid white;
    box-sizing: border-box;

}

.about {
    background-color: #f2f4ef;
}

.about {
    padding: 50px 32px; 
}

.brand-explain {
    width: 1200px;
    height: 100vh;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    

}

.section-title {
    display: flex;
    flex-direction: column;

    align-items: center;
    color: #003331;
 
}

h2 {
    font-size: 38px;
    color: #003331;
}

.sub-title {
    font-size: 16px;
    color: #609f1c;
}

.brand-explain-content {
    display: flex;
    align-items: center;
    justify-content: center;

}

.brand-detail-explain {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  
    gap: 35px;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    color: #003331;
}

.brand-summary {
    font-size: 16px;
    line-height: 25px;
    color: #222;
}

.brand-detail-explain > p:last-child {
    font-size: 18px;
    color:#222;
}

.best-item-container {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.best-seller {
    display: flex;
    align-items: center;

    gap: 50px;

}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.best-seller-pack > ul {
    display: flex;
    justify-content: space-evenly;
   
    gap: 30px;
}

.best-seller-pack li {
    flex: 1 1 0;
    /* 
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    flex-basis 값을 0 으로 설정하여 기본 넓이를 없게하면 동일한 크기 자식요소를 만들 수 있다. */

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.best-seller-furniture-name {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.best-seller-furniture {
    height: 100%;
    box-shadow: 3px 3px 5px #d0cfcf;

    display: flex;
    align-items: center;

}
.best-seller-furniture figure {
    /* width: 3; */
}

h5 {
    font-size: 14px;
    color: #222;
}

.best-seller-furniture-name p {
    font-size: 12px;
    color: #222;
}

#showroom {
    padding: 50px 32px;
}

.showroom-introduce {
    width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 100px;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explain-showroom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.explain-showroom figure {
    width: 50%;
}

.showroom-address {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.bamgasi {
    text-align: end;
}

.showroom-bamgasi-infom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    gap: 45px;

}
.showroom-address p {
    color: #333;
    font-size: 16px;

}

h4 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}


/* .showroom-bamgasi-infom::after{
    right: 0;
    background-image: url(../img/쇼룸밤가시네모.png);
} */

.showroom-garage-inform {
    display: flex;
    flex-direction: column;

    gap: 45px;
}

.more-view button {
    width: 160px;
    height: 40px;

    background-color:white;
    border-width: 0.5px;
    font-size: 14px;
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;

    border-radius: 3px;
    border-color: rgb(152, 151, 151);
}
 button > a {
    color: #333;
 }


#with-furniture {
    background-color: #edf1e9;
    background-image: url(../img/with-furniture-꽃.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.with-furniture-container {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.with-furniture-content {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

}

.with-furniture-content li {
    background-color: white;
    width: 250px;
    aspect-ratio: 5/4;

    display: flex;
    justify-content: center;
    align-items: center;

}

.with-furniture-icons img {
    width: 50px;
    aspect-ratio: 1;
}

.with-furniture-icons a {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;

}

.with-furniture-icons p {
    text-align: center;
    font-size: 18px;
    color: #555;
}

.with-furniture-icons p:last-child {
    font-size: 14px;
    line-height: 20px;
}


.footer-container {
    width: 1200px;
    margin: 0 auto;
    
}