@media screen and (max-width:1024px) {
    .web-header {
     height: 80px;
     width: 100%;
    }

    .web-header > a {
        width: 120px;
        padding: 16px 10px;
    }

    .web-header nav ul {
        font-size: 14px;
    }
    
    nav li {
        padding: 16px 10px;
    }

    nav ul a {
        font-size: 12px;
    }

    nav li:last-child {
        padding: 16px 12px;
    }

    h1 {
        font-size: 46px;
    }

    .main-box {
        padding: 50px;
    }

    .main-box > p {
        font-size: 18px;
    }

    h3 {
        font-size: 28px;
    }

    .brand-summary p:first-child {
        font-size: 14px;
    }
    
    .brand-summary p:last-child {
        font-size: 16px;

    }

    .best-item-container {
        width: 100%;
    }

    h5 {
        font-size: 12px;
    }
    
    .best-seller-furniture-name p {
        font-size: 12px;

    }

    h2 {
        font-size: 34px;
    }
    
    .sub-title {
        font-size: 14px;
    }

    h4 {
        font-size: 20px;
    }

    .showroom-address p {
        font-size: 14px;
    }

    .showroom-bamgasi-inform::after {
        content: '';
        width: 300px;
        height: 1px;
        background: #000;
        display: block;
        position: absolute;
        left: calc(44% + 1.5px);
        transform: rotate(270deg);
        top: 34%;
        margin-left: 50px;
    }

    .showroom-garage-inform::after {
        content: '';
        width: 300px;
        height: 1px;
        background: #000;
        display: block;
        position: absolute;
        right: 44%;
        transform: rotate(270deg);
        top: calc(34% + -1px);
        margin-right: 50px;
    }
    
    .with-furniture-icons img {
        width: 35px;
    }
    
    .with-furniture-icons a {
        width: 200px;
        aspect-ratio: 5/4; 
    }
    
    .with-furniture-icons p:last-child {
        font-size: 14px;
    }
    
}    
    


@media screen and (max-width: 768px) {
    .web-header {
        display: none;
    }

    .mobile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: absolute;
    }

    .mobile-header {
        width: 100%;
        height: 80px;
        border-bottom: 0.1px solid rgb(255,255,255,0.5);
    }

    .mobile-header > a{
        width: 120px;
        padding: 20px 20px;
    }

    .mobile-header-icon {
        display: flex;
        flex-direction: column;
    }

    .mobile-header-icon > a {
        display: block;
        width: 24px;
        aspect-ratio: 1;
        padding: 30px 30px;
        /* 화면 밖으로 나가는이유? */
    }

    section {
        padding: 0 20px;
    }

    header {
        padding: 0 20px;
    }

    footer {
        padding: 0 20px;
    }

    .main-box > p {
        font-size: 16px;
    }

    .main-sub-explain {
        font-size: 16px;
    }

    .main-container {
        gap: 25px;
    }

    .main-img-wrapper {
        width: 250px;
    }

    .brand-explain-content figure {
        width: 300px;
    }

  }



  @media screen and (max-width: 480px) {
    
  }