@media screen and (max-width:1024px) {
    .web-header {
     height: 80px;
     width: 100%;
    }

    .web-header > a {
        width: 120px;
        padding: 16px 10px;
    }

    .web-header nav ul {
        font-size: 14px;
    }
    
    nav li {
        padding: 16px 10px;
    }

    nav ul a {
        font-size: 12px;
    }

    nav li:last-child {
        padding: 16px 12px;
    }

    h1 {
        font-size: 40px;
    }

    .main-container {
        padding-top: 100px;
    }

    .main-box {
        padding: 50px;
        gap: 35px;
    }

    .main-box > p {
        font-size: 18px;
    }

    .main-img-wrapper{
        width: 300px;
    }

    .brand-detail-explain::before {
        content: '';
        height: 260px;
        width: 2px;
        background-color: var(--accent-color);
        position: absolute;
        top: 0;
        left: -2%;
    }

    h3 {
        font-size: 26px;
    }

    .brand-summary p:first-child {
        font-size: 14px;
    }
    
    .brand-summary p:last-child {
        font-size: 16px;
    }

    h6 {
        font-size: 14px;
    }

    h5 {
        font-size: 16px;
    }
    
    /* .best-seller-furniture-name p {
        font-size: 12px;
    } */

    h2 {
        font-size: 34px;
    }
    
    .sub-title {
        font-size: 14px;
    }

    h4 {
        font-size: 20px;
    }

    .showroom-address p {
        font-size: 14px;
    }

    #showroom::before {
        content: '';
        width: 400px;
        aspect-ratio: 1;
        position: absolute;
        top: 6%;
        left: -3%;
        z-index: -1;
        background-image: url(../img/showroom\ 나뭇잎.png);
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(80deg);
    }

    #showroom::after {
        content: '';
        width: 200px;
        aspect-ratio: 1;
        position: absolute;
        bottom: -2%;
        right: -4%;
        z-index: -1;
        background-image: url(../img/showroom\ 나뭇잎.png);
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(200deg);
    }

    .showroom-bamgasi-inform::after {
        content: '';
        width: 300px;
        height: 1px;
        background: #000;
        display: block;
        position: absolute;
        left: calc(44% + 1.5px);
        transform: rotate(270deg);
        top: 34%;
        margin-left: 50px;
    }

    .showroom-garage-inform::after {
        content: '';
        width: 300px;
        height: 1px;
        background: #000;
        display: block;
        position: absolute;
        right: 44%;
        transform: rotate(270deg);
        top: calc(34% + -1px);
        margin-right: 50px;
    }

    #with-furniture {
        background-size: cover;
        background-position: 100% 20%;
        /* 반응형 길이 수정 */
    }

    .with-furniture-icons img {
        width: 35px;
    }
    
    .with-furniture-icons a {
        width: 200px;
        aspect-ratio: 5/4; 
    }
    
    .with-furniture-icons p:last-child {
        font-size: 14px;
    }

    .footer-container {
        height: 180px;
        justify-content: space-between;
    }

    

}    
    







@media screen and (max-width: 768px) {
    header {
        position: relative;
    }

    .web-header {
        display: none;
    }

    .mobile-header {
        width: 100%;
        height: 80px;
        padding: 0 16px;
        box-sizing: border-box;

        display: flex;
        justify-content: space-between;
        align-items: center;

        position: absolute;
        top: 0;
        left: 0;
       
        border-bottom: 0.1px solid rgb(255,255,255,0.5);
    }


    .mobile-header > a {
        width: 120px;
    }

    .mobile-header-icon {
        display: flex;
        flex-direction: column;
    }

    .mobile-header-icon > a {
        display: block;
        width: 24px;
        aspect-ratio: 1;
        padding: 5px;
    }

    section {
        padding: 0 16px;
    }

    footer {
        padding: 0 16px;
    }

    h2 {
        font-size: 30px;
    }

    .main-container {
        flex-direction: column;
        padding-top: 0;
    }

    .main-container-explain {
        gap: 60px;
    }

    .main-box {
        gap: 25px;
    }

    .main-box > p {
        font-size: 16px;
    }

    .main-sub-explain {
        font-size: 16px;
    }

    .main-img-wrapper {
        width: 250px;
        display: none;
    }

    .brand-explain {
        gap: 60px;
    }

    h3 {
        font-size: 24px;
    }

    .brand-explain-content {
        flex-direction: column;
    }

    .brand-explain-content figure {
        width: 350px;
    }

    #showroom::before {
        content: '';
        width: 250px;
        aspect-ratio: 1;
        position: absolute;
        top: 6%;
        left: -3%;
        z-index: -1;
        background-image: url(../img/showroom\ 나뭇잎.png);
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(80deg);
    }

    #showroom::after {
        content: '';
        width: 200px;
        aspect-ratio: 1;
        position: absolute;
        bottom: 19%;
        left: 0;
        /* 이미지 수정 */
        z-index: -1;
        background-image: url(../img/showroom\ 나뭇잎.png);
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(200deg);
    }

    .explain-showroom {
        flex-direction: column;
    }

    .explain-showroom:last-child {
        flex-direction: column-reverse;
    }

    .showroom-bamgasi-inform::after,
    .showroom-bamgasi-inform::before,
    .showroom-garage-inform::after,
    .showroom-garage-inform::before {
        display: none;
    }

    .explain-showroom figure {
        min-width: 300px;
    }

    .showroom-bamgasi-inform,
    .showroom-garage-inform {
        height: 300px;
    }


    /* 여기부터!!! */
    
    .mobile-header-menubar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 56px;
        padding-top: 56px;
        height: 100vh;
        width: 100%;
        background-color: var(--accent-color);
        position: absolute;
        box-sizing: content-box;

        /* left: -100px;
        transition: 0.5s; */
        display: none;
    }

    .mobile-header-menubar li {
        width: 200px;
        height: 50px;
    }
    
    .mobile-header-menubar a {
        display: block;
        width: 100%;
        height: 100%;
        color: var(--text-color);
        font-size: 16px;
    }
    
    .mobile-header-menubar a:hover {
        color: #8a8989;
    }

    .mobile-header-close {
        width: 24px;
        height: 24px;
        background: url(../img/close-btn-white.png);

        position: absolute;
        left: 300px;
        /* right로 바꾸기 */

    }

    .mobile-header-close:hover {
        cursor: pointer;
    }

    /* .mobile-header-menubar.active {
        transition: 0.5s;
        right: 0;
    }    
     */
    .footer-customer-center {
        display: none;
    }
    
  }


  @media screen and (max-width: 360px) {


  }



  /*호버넣기 
  about us  이미지 더 찾기
   */

   /* about us부분 작아질 때 글씨내려가는거 */
   /* with furniture부분 2개씩 */
   /* 캐러셀 정리 */
   /* 헤더 햄버거 내려오는거하기 */